:root {
  --primary-color: rgb(37, 37, 228);
  --secondary-color: rgb(164, 164, 165);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: end;
  padding: 15px;
  gap: 10px;
}

.user {
  display: flex;
}

.user img {
  width: 70px;
  stroke-width: 1px;
  stroke: var(--secondary-color);
}
