:root {
  --primary-color: rgb(37, 37, 228);
  --secondary-color: rgb(164, 164, 165);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  position: relative;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: end;
  padding: 15px;
  gap: 10px;
}

.user {
  display: flex;
}

.user-icon-svg {
  /* 1. Use your CSS variable for the main state */
  color: var(--primary-color);

  /* 2. Transition makes the color swap smoothly */
  transition: color 0.2s ease-in-out;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(231, 227, 231),
    rgb(67, 66, 68),
    rgb(162, 164, 167)
  );
  opacity: 0.75;
}

dialog[open] {
  position: fixed;
  inset: 0;
  margin: auto;
}
